body {
    background-image: url("tropical_leaves.jpg");
    background-repeat: repeat;
}

.circle-container {
    position: relative;
    width: 24em;
    height: 24em;
    padding: 2.8em;
    /*2.8em = 2em*1.4 (2em = half the width of a link with img, 1.4 = sqrt(2))*/
    border: dashed 1px white;
    border-radius: 50%;
    margin: 1.75em auto 0;
    margin-top:0px;
}
.circle-container a {
    display: block;
    position: absolute;
    top: 50%; left: 50%;
    width: 4em; height: 4em;
    margin: -2em;
}
.circle-container img { display: block; width: 100%; }
.deg0 { transform: translate(12em); } /* 12em = half the width of the wrapper */
.deg45 { transform: rotate(45deg) translate(12em) rotate(-45deg); }
.deg135 { transform: rotate(135deg) translate(12em) rotate(-135deg); }
.deg180 { transform: translate(-12em); }
.deg225 { transform: rotate(225deg) translate(12em) rotate(-225deg); }
.deg315 { transform: rotate(315deg) translate(12em) rotate(-315deg); }

#round {
    border-radius: 50%;
    box-shadow: 10px 10px black;
}



h1{
  font-family: serif;
  color:orange;
  text-shadow: 2px 2px red;
  font-size: 70px;
  border: 3px dotted yellow;
}



footer{
  font-family: serif;
  color: white;
}

button{
  font-family: serif;
  background-color: grey;
}

#arrow{
  height: 100px;
  width: 100px;
}
p{
  background-color: orange;
  color:red;
  width: 90px;
  margin: 0px;
}
